#title {
    text-align: center;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

span {
    color: #c4871d;
}

body {
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, #030303, #1f1e1e);
    margin:40px auto;
    max-width: 1000px;
    line-height: 1.2;
}

img {
    border: 10px solid #c4871d;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: white;
}