#title {
    text-align: center;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

span {
    color: #c4871d;
}

body {
    text-align: center;
    display: block;
    background-color: #fcf7f7;
    margin:40px auto;
    max-width: 1000px;
    line-height: 1.2;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}